.DS_Store
__pycache__
database
shape_predictor_68_face_landmarks.dat
myenv/

venv/
nullpointers-123-firebase-adminsdk-z2xr3-4e681f2a90.json
gatex-2-firebase-adminsdk-fbsvc-40934da302.json

*.zip
.env

# static/images
# static/recognized
# examples/
# docs/
mkcert-v1.4.4-windows-amd64.exe
gatex-2-44c63-firebase-adminsdk-fbsvc-4355e45051.json