deepface==0.0.79
dlib==19.21.1
firebase_admin==4.0.0
Flask==1.1.2
numpy==1.22.4
opencv_python==4.8.0.74
Pillow==10.0.0
scipy==1.7.1
Werkzeug==1.0.1
tensorflow==2.13.0
tensorflow-intel==2.13.0
keras==2.13.1
protobuf==3.20.3
google-api-core==2.15.0
google-cloud-storage==2.15.0

